<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-primary sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="mb-2">
            {{ configuration:website_logo }}
                <img src="{{ url }}" style="height: 60px;" alt="{{ alt }}">
            {{ /configuration:website_logo }}
        </h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            {{ nav:collection:pages include_home="true" }}

            {{ if children }}

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ title }}</a>
                <div class="dropdown-menu fade-up m-0">
                    {{ children }}
                        {{ page_name | dump }}
                        {{ if slug != 'corporate-brochure' }}
                            <a href="{{ url }}" class="dropdown-item">{{ title }}</a>
                        {{ else }}
                        {{ configuration:website_quotation }}
                            <a target="_blank" href="{{ url }}" download class="dropdown-item">Corporate Brochure</a>
                        {{ /configuration:website_quotation }}
                        {{ /if }}
                    {{ /children }}
                </div>
            </div>

            {{ else}}
            <a href="{{ url }}" class="nav-item nav-link {{ if is_current }} active {{ /if }}">{{ title }}</a>
            {{ /if }}

            {{ /nav:collection:pages }}
        </div>
        <h4 class="m-0 pe-lg-5 d-none d-lg-block">
            <i class="fa fa-headphones text-primary me-3">
                {{ configuration:website_phone }}
            </i>
        </h4>
    </div>
</nav>
<!-- Navbar End -->