<!-- Contact Start -->
<div class="container-fluid overflow-hidden px-lg-0">
    <div class="container contact-page px-lg-0">
        <div class="row g-5 mx-lg-0">

            <div class="{{ if contact_map }} col-md-6 {{ else }} col-md-12 {{ /if }} contact-form wow fadeIn" data-wow-delay="0.1s">
                <h1 class="mb-4">{{ contact_title }}</h1>
                <p class="mb-4">
                    {{ contact_content }}
                </p>
                <div class="bg-light p-4">
                    {{ form:communication }}

                {{ if success }}
                    <div class="bg-green-300 text-secondary p-2">
                        {{ success }}
                    </div>
                {{ else }}
                    {{ if errors }}
                        <div class="bg-red-300 text-primary p-2">
                            {{ errors }}
                                {{ value }}<br>
                            {{ /errors }}
                        </div>
                    {{ /if }}
                {{ /if }}

                <input type="hidden" class="hidden" name="{{ honeypot ?? 'honeypot' }}">
                <input type="hidden" class="hidden" value="Quotation" name="subject">

                <div class="row g-3">
                    <div class="col-12 col-sm-6">
                        <input type="text" name="name" class="form-control border-0" placeholder="Your Name" style="height: 55px;">
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="email" name="email" class="form-control border-0" placeholder="Your Email" style="height: 55px;">
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="text" name="phone" class="form-control border-0" placeholder="Your Mobile" style="height: 55px;">
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="text" name="company" class="form-control border-0" placeholder="Your Company" style="height: 55px;">
                    </div>
                    <div class="col-12">
                        <textarea name="message" class="form-control border-0" placeholder="Message"></textarea>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                    </div>
                </div>
                {{ /form:communication }}
                </div>

            </div>
            {{ if contact_map }}
            <div class="col-md-6 wow fadeInRight" data-wow-delay="0.1s">

                <div class="position-relative" style="margin-top:10%;padding:20px">
                    {{ contact_map }}
                </div>

            </div>
            {{ /if }}
        </div>
    </div>
</div>
<!-- Contact End -->