 <!-- Service Start -->
 <div class="container-xxl py-5">
    <div class="container py-5">
        <div class="row g-4">
            {{ grid_field }}
            <div class="col-md-6 col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item p-4">
                    <h4 class="mb-3 text-center">{{ two_title }}</h4>
                    <div class="overflow-hidden mb-4">
                        {{ two_image }}
                            <img class="img-fluid" src="{{ url }}" alt="{{ alt }}">
                        {{ /two_image }}
                    </div>
                    <p class="text-center">
                        {{ two_description }}
                    </p>
                </div>
            </div>
            {{ /grid_field }}
        </div>
    </div>
</div>
<!-- Service End -->