<!-- Feature Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container feature py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 feature-text wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase mb-3">{{ right_sub_title }}</h6>
                <h1 class="mb-5">{{ right_title }}</h1>
                <p class="mb-3">
                    {{ right_description }}
                </p>
                {{ right_grid }}
                {{ if right_point_block }}
                <div class="mb-5 mt-5 wow fadeInUp right-block" data-wow-delay="0.3s">
                    <div class="col col-lg-12 mb-4">
                        <i class="fa {{ right_point_icon }} text-primary fa-3x flex-shrink-0"></i>
                    </div>
                    <div class="ms-12 col col-ld-auto mb-4">
                        <h5 class="text-white">{{ right_point_title }}</h5>
                        <p class="mb-0">
                            {{ right_point_description }}
                        </p>
                    </div>
                </div>
                {{ else }}
                <div class="d-flex mb-5 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="col col-lg-1">
                        <i class="fa {{ right_point_icon }} text-primary fa-3x flex-shrink-0"></i>
                    </div>
                    <div class="ms-4 col col-ld-auto">
                        <h5>{{ right_point_title }}</h5>
                        <p class="mb-0">
                            {{ right_point_description }}
                        </p>
                    </div>
                </div>
                {{ /if }}
                {{ /right_grid }}
            </div>
            <div class="col-lg-6 pe-lg-0 wow fadeInRight" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    {{ right_image }}
                        <img class="position-absolute img-fluid w-100 mt-1" src="{{ url }}" style="object-fit: cover;" alt="{{ alt }}">
                    {{ /right_image }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->