<!-- Quote Start -->
<div class="container-xxl">
    <div class="container py-5">
        <div class="row g-5 align-items-center pb-4" style="background-color: #FF3E41;">
            <div class="col-lg-10 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-2 text-white">{{ block_header }}</h1>
                <p class="text-white">{{ block_description }}</p>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-primary text-primary" target="_blank" style="background-color: white;padding:20px 30px;font-size:20px;border-radius: 5px;" href="{{ block_link }}">
                    {{ block_button }}
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Quote End -->