 <!-- Service Start -->
 <div class="container-xxl py-5">
    <div class="container py-5">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase">{{ service_sub_title }}</h6>
            <h1 class="mb-5">{{ service_title }}</h1>
        </div>
        <div class="row g-4">
            {{ service_grid }}
            <div class="col-md-6 col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        {{ service_point_image }}
                            <img class="img-fluid" src="{{ url }}" alt="{{ alt }}">
                        {{ /service_point_image }}
                    </div>
                    <h4 class="mb-3 text-center">{{ service_point_title }}</h4>
                    <span class="text-center">{{ service_point_description }}</span>
                </div>
            </div>
            {{ /service_grid }}
        </div>
    </div>
</div>
<!-- Service End -->